body {
    background: #112e54;
    margin: 0;
    width: 100%;
    color: white;
    font-weight: 100;
    font-family: 'Courier New', Courier, monospace;
}

header,
left-side,
right-side,
search-filter-section,
search-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input,
select {
    width: 200px;
    border: none;
    background: inherit;
    outline: none;
    color: white;
    height: 40px;

    option {
        background: #112e54;
        outline: none;
    }
}

page-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    height: 100vh;

    img[id='loadingSpinner'] {
        filter: invert(100%);
        align-self: center;
        margin-top: 150px;
    }
}

header {
    padding: 20px 0;

    left-side,
    right-side {
        gap: 20px;
    }

    search-wrapper {
        /* border: thin solid gray; */
        border-radius: 10px;
        padding: 0 20px;
    }

    input[type='search'] {
        background: transparent;
        width: 300px;
        padding-inline: 10px;
        color: white;
    }

    select[name='filterCountry'] {
        width: 150px;
    }
}

main {
    width: 100%;
    padding: 1rem 0;
    display: grid;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

country-card {
    height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: #26262a;
    overflow: hidden;
    box-shadow: 0px 30px 40px -30px #ffffff54;
    cursor: help;
    border: thin solid #6f6161a9;

    &:hover {
        border: thin solid #afa1a1a9;
        box-shadow: none;
        transform: scale(1.1);
        transition: 0.3s, background-size 0.3s 0.3s;
    }

    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    country-info {
        padding: 10px 20px;

        p {
            font-size: 0.8rem;
            font-weight: 100;
        }

        h3 {
            margin: 0.3rem 0;

            span {
                font-weight: bold;
                text-decoration: underline;
            }
        }
    }
}
