body {
    background: #112e54;
    margin: 0;
    width: 100%;
    color: white;
}

header,
left-side,
right-side,
search-filter-section,
search-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input,
select {
    border: none;
    background: transparent;
    outline: none;
    color: white;
    height: 40px;
}

page-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

header {
    padding: 20px 0;

    left-side,
    right-side {
        gap: 20px;
    }

    search-wrapper {
        /* border: thin solid gray; */
        border-radius: 10px;
        padding: 0 20px;
    }

    input[type='search'] {
        background: transparent;
        width: 300px;
        padding-inline: 10px;
        color: white;
    }

    select[name='filterCountry'] {
        width: 150px;
    }
}

main {
    width: 100%;
    padding: 1rem 0;
    display: grid;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

country-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    background: #26262a;
    overflow: hidden;
    box-shadow: 0px 30px 40px -30px #ffffff54;
    cursor: help;

    &:hover {
        transform: scale(1.1);
    }

    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    country-info {
        padding: 10px 20px;

        p {
            font-size: 0.8rem;
            font-weight: 100;
        }

        h3 {
            margin: 0.2rem 0;
        }
    }
}
